<!-- Section 1 -->
<section>
  <div class="mx-auto max-w-6xl px-4 sm:px-6 py-8">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <!-- Image Container -->
      <div class="lg:py-16">
        <div class="h-64 sm:h-80 lg:h-full">
          <img
            alt="House"
            src="/images/Abdul-Sattar-Edhi-2.jpg"
            class="h-96 sm:h-80 lg:h-full w-full object-cover"
          />
        </div>
      </div>
      <!-- Text Container -->
      <div class="flex items-center bg-gray-100">
        <div class="py-12 px-4">
          <p class="text-2xl font-bold sm:text-3xl">Abdul Sattar Edhi</p>
          <p class="font-bold text-red-700 text-xl">Founder Profile</p>
          <p class="text-[16px] pt-10 text-gray-600 font-roboto">
            Born in 1928 in the small village of Bantva near Joona Garh, Gujrat (India), Abdul Sattar Edhi's journey of compassion began with the seeds planted in his soul during his mother's illness. At the age of eleven, when his mother became paralyzed and later suffered from mental illness, Edhi devoted himself to her care. <br>
            He undertook the responsibilities of cleaning, bathing, changing clothes, and feeding her. Despite his efforts, the battle against the disease proved to be challenging, and his mother's helplessness grew over the years. This early experience shaped Edhi's lifelong commitment to alleviating the suffering of humanity.          </p>
          <a
            href="/about-us/founder-profile"
            class="flex justify-center items-center h-12 px-6 rounded-md bg-green-600 text-white border border-green-500 mt-6"
          >
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section 2 -->
<section class="pb-[115px] md:pb-0">
  <div class="mx-auto max-w-6xl px-4 sm:px-6 py-8">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <!-- Text Container -->
      <div class="flex items-center bg-gray-100">
        <div class="py-12 px-4">
          <p class="text-2xl font-bold sm:text-3xl">Bilquis Bano Edhi</p>
          <p class="font-bold text-red-700 text-xl">Founder Profile</p>
          <p class="text-[16px] pt-10 text-gray-600 font-roboto">
            Bilquis Bano Edhi's journey began as a nurse at Edhi Nurses Training Centre. After marrying Abdul Sattar Edhi, they founded Edhi Foundation, dedicating themselves to aiding Pakistan's impoverished despite financial constraints. <br>
            Bilquis Edhi has done a lot of good for people. She got big awards for her work, like the 'Hilal-e-Imtiaz' and the 'Lenin Peace Prize.' She and her husband also got the 1986 Ramon Magsaysay Award for Public Service. She runs the Bilquis Edhi Foundation, which helps many people in Pakistan. They have hospitals and places for emergency care, where they help many people who need it.          </p>
          <a
            href="/about-us/bilquis-bano"
            class="flex justify-center items-center h-12 px-6 rounded-md bg-green-600 text-white border border-green-500 mt-6"
          >
            Learn More
          </a>
        </div>
      </div>
      <!-- Image Container -->
      <div class="lg:py-16">
        <div class="h-64 sm:h-80 lg:h-full">
          <img
            alt="House"
            src="/images/Bilquis_bano-hd2.jpg"
            class="h-96 sm:h-80 lg:h-full w-full object-cover object-top"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section 3 -->
<section>
  <div class="mx-auto max-w-6xl px-4 sm:px-6 py-8">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <!-- Image Container -->
      <div class="lg:py-16 ">
        <div class="h-64 sm:h-80 lg:h-full">
          <img
            alt="House"
            src="/images/faisal-edhi.png"
            class="h-96 sm:h-80 lg:h-full w-full object-cover object-top"
          />
        </div>
      </div>
      <!-- Text Container -->
      <div class="flex items-center bg-gray-100">
        <div class="py-12 px-4">
          <p class="text-2xl font-bold sm:text-3xl">Faisal Edhi</p>
          <p class="font-bold text-red-700 text-xl">Head of Edhi Foundation</p>
          <p class="text-[16px] pt-10 text-gray-600 font-roboto">
            The visionary & courageous man who did not take money from the government, he wished to domesticate the habit of giving in the Pakistani people. He finally succeeded. Late Abdul Sattar Edhi's golden words, that often the people who have the least, give the most.When he started his work, he was penniless. He sat on the street and asked for donations not for himself but to help people in greater need. “I begged. And people gave,” he said. From the very beginning, people passing Edhi on the street trusted him to do good with their money.

          </p>
          <a
            href="/about-us/faisal-edhi"
            class="flex justify-center items-center h-12 px-6 rounded-md bg-green-600 text-white border border-green-500 mt-6"
          >
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
