---
import Base from "@/layouts/Base.astro";
import ServiceSlider from "@/components/ServiceSlider.astro";
import { SEO } from "astro-seo";
import Donationcard from "../../layouts/components/donationcard.astro";



---
<SEO
  title="Best Hospital Services in Uk | Edhi Foundation"
  description="Donate to Edhi Foundation's Hospital Services to provide free care for children and low-income families. Your donation can save a life. Donate Now."
  canonical={Astro.request.url}
  openGraph={{
    basic: {
      title: "Best Hospital Services in Uk | Edhi Foundation",
      type: "A type.",
      image: "https://edhiuk.org/images/logo.jpg",
     
    }
  }}
  twitter={{
    creator: "@jonasmerlins1"
  }}
  extend={{
    // extending the default link tags
    link: [{ rel: "icon", href: "/favicon.png" }],
    // extending the default meta tags
    meta: [
      {
        name: "twitter:image",
        content: "https://edhiuk.org/images/logo.jpg",
      },
      { name: "twitter:title", content: "Best Hospital Services in Uk | Edhi Foundation" },
      { name: "twitter:description", content: "Donate to Edhi Foundation's Hospital Services to provide free care for children and low-income families. Your donation can save a life. Donate Now." },
      { name: "keywords", content: "" },
    ],
  }}
/>
<Base>
    <!-- <--heading started here -->
  <section
    class="  relative bg-[url(/images/hospital/hospital-04.jpg)] bg-cover bg-center bg-no-repeat pb-12 h-[400px]"

  >
    <div
      class="bg-gradient-to-r from-white to-transparent absolute inset-0 sm:bg-transparent ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
    >
    </div>

    <div
      class="absolute inset-0 bg-gradient-to-r from-white to-transparent ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
    >
    </div>

    <div
      class="relative mx-auto max-w-screen-xl px-4 sm:px-6 lg:flex lg:h-screen lg:items-baseline pt-12 lg:px-8"
    >
      <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
        <h1 class="text-3xl font-extrabold sm:text-5xl text-left font-primary">
          Hospital

          <strong class="block font-extrabold text-green-600"> Services</strong>
        </h1>

        <p class="text-lg mt-4  sm:text-xl/relaxed text-left font-roboto ">
          Providing compassionate and accessible healthcare to all, Edhi Foundation's hospitals are beacons of hope, offering quality medical services to those in need across communities.


        </p>

        <div class="flex md:text-center text-left pt-8 ">
          <a
            href="https://donate.edhiuk.org/"
            class="px-8 h-12 rounded flex items-center gap-x-3 bg-[#14A762] md:text-[20px] text-[16px] text-white hover:bg-[#ED4836] md:px-10 md:py-2"
          >
            Donate Now
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="bg-green-600 border-black p-4 ">
    <h3 class="text-center text-[20px] text-white pb-2 font-roboto">
Prophet(PBUH) Said-There is no disease that Allah has created, except that
He also has created its treatment.
    </h3>
    <p class="text-center text-white">(Narrated Abu Huraira)</p>
  </div>
  <!-- <--heading ended here -->


  <Donationcard programId={[45,33,49,50,51,52,53,56]} />



  <!-- section 1 started here -->
  <section>
    <div class="mx-auto max-w-6xl px-6">
      <div class="max-w-3xl"></div>

      <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="h-64 overflow-hidden sm:h-80 lg:h-full">
          <img
            alt=""
            src="/images/hospital/hospital-1.png"
            class=" h-full w-full object-fit rounded"
          />
        </div>

        <div class="space-y-4 text-gray-600 md:py-auto pt-0 align-middle flex flex-col justify-center ">          <h2 class="text-3xl font-bold sm:text-4xl pb-2">Free Consultancy Clinic

          </h2>

          <p class="text-[17px] font-roboto">
            At Edhi Foundation, we believe in health for all. Our Free Consultancy Clinic is a dedicated service where individuals can receive expert medical advice without any financial burden. Whether you have concerns about your health or need guidance on a medical matter, our caring professionals are here to offer support and guidance at no cost.

          </p>
          <p class="text-[17px]">
            We strive to make healthcare accessible to everyone, ensuring that no one is left behind in their journey towards well-being.


          </p>
          
        </div>

      </div>
    </div>
  </section>
 

  <!-- section 1 ended here -->
  <!-- section 2 started here -->
  <section>
      
    <div class="mx-auto max-w-6xl px-6">
      <div class="max-w-3xl"></div>

      <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="space-y-4 text-gray-600 md:py-auto pt-0 align-middle flex flex-col justify-center ">          <h2 class="text-3xl font-bold sm:text-4xl pb-2">

            Pre Diabetic Centre
          </h2>

          <p class="text-[17px] font-roboto">
            At Edhi Foundation, we prioritize preventive healthcare. Our Pre Diabetic Centre is committed to educating individuals about diabetes prevention and early detection. Through regular screenings and lifestyle guidance, we aim to empower people to make informed choices and adopt healthier habits to prevent the onset of diabetes.
            <br /><br />Our dedicated team provides personalized care and support to individuals at risk of developing diabetes, helping them lead healthier lives and reduce the burden of this chronic condition.


          </p>
        </div>
        <div class="h-64 overflow-hidden sm:h-80 lg:h-full">
          <img
            alt=""
            src="/images/hospital/hospital-2.png"
            class=" h-full w-full object-fit rounded"

          />
        </div>
      </div>
    </div>
  </section>

  <!-- section 2 ended here -->
  <!-- section 3 started here -->
  <section>
    <div class="mx-auto max-w-6xl px-6">
      <div class="max-w-3xl"></div>

      <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="h-64 overflow-hidden sm:h-80 lg:h-full">
          <img
            alt=""
            src="/images/hospital/hospital-3.png"
            class=" h-full w-full object-fit rounded"
          />
        </div>

        <div class="space-y-4 text-gray-600 md:py-auto pt-0 align-middle flex flex-col justify-center ">          <h2 class="text-3xl font-bold sm:text-4xl pb-2">Laboratory

          </h2>

          <p class="text-[17px] font-roboto">
            Our laboratory services at Edhi Foundation are equipped with state-of-the-art technology to provide accurate diagnostic testing. From blood tests to imaging studies, our skilled technicians ensure precise results to assist in the diagnosis and treatment of various medical conditions. We prioritize efficiency and reliability, offering quick turnaround times without compromising on quality.
            <br /><br />Whether it's routine screenings or specialized tests, our laboratory is committed to delivering excellence in healthcare. With a focus on affordability and accessibility, we strive to empower individuals with the information they need to make informed decisions about their health.


          </p>
         
          
        </div>

      </div>
    </div>
  </section>
  <section class="md:py-20 py-10 max-screen-w-2xl mx-auto  px-6">
    <div>
      <div
        class="align-middle bg-gradient-to-br from-green-200 to-gray-50 dark:from-gray-900 dark:bg-gray-800 rounded-lg p-2 md:p-10 py-6 lg:p-14 flex flex-col md:flex-row items-center justify-center text-center md:text-left md:justify-start md:items-start gap-8" style="align-items: center;"

      >
        <div class="md:w-2/5 align-middle">
          <h5
            class=" text-center md:text-6xl text-3xl text-black dark:text-white font-display font-bold leading-tight" 
          >
            Get Involved
          </h5>
        </div>
        <div class="flex flex-col md:flex-1 space-y-8">
          <p class="text-gray-700 dark:text-gray-300 md:text-2xl text-[20px] font-roboto">
            Take the next step to making a difference - support Edhi

            Foundation's humanitarian efforts!
          </p>
          <div class="text-[20px] flex justify-center md:justify-start">
            <a
              href="https://donate.edhiuk.org/"
              class="h-12 px-5 rounded-md flex items-center bg-[#14A762] text-white"
            >
              Donate Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section 3 ended here -->

  <!-- section 5 started here -->
 
  <section class="mx-auto max-w-6xl px-6 sm:px-6 pb-10 md:pb-20 lg:px-8 ">


    <h3 class="text-[#14A762] text-[28px] font-bold text-center">
      Nursing Training Centre
    </h3>
    <br />
      <div class="text-center mb-4">
        <p class="md:text-[36px] text-[17px] font-bold">
          Centre offers a supportive learning environment where students can thrive and develop their talents.     </p><br/>
        <div class="text-left">
        <p class="text-[17px] font-roboto w-full ">
          At Edhi Foundation, we are committed to building a skilled healthcare workforce for the future. Our Nursing Training Centre provides comprehensive education and practical training to aspiring nurses, equipping them with the necessary skills and knowledge to excel in their careers.
          <br /><br />With experienced instructors and state-of-the-art facilities, our centre offers a supportive learning environment where students can thrive and develop their talents.
          <br><br>
          Through our Nursing Training Centre, we aim to address the shortage of qualified nursing professionals while empowering individuals to pursue fulfilling careers in healthcare. Our curriculum covers a wide range of topics, including patient care, medical procedures, and ethical practices, ensuring that our graduates are well-prepared to meet the challenges of the healthcare industry.

          <br /><br /> We believe that investing in nursing education is essential for improving healthcare outcomes and strengthening communities. By providing quality training opportunities, we not only enhance the employability of our graduates but also contribute to the overall quality of care available to patients. At Edhi Foundation, we are proud to play a role in shaping the future of healthcare through our Nursing Training Centre, where dedication, compassion, and excellence are nurtured every day. <br><br>Join us in our mission to empower aspiring nurses and elevate the standard of healthcare delivery. Together, we can make a difference in the lives of individuals and communities, one nurse at a time.





        </p></div>
      </div>
  </section>
  <!-- section 5 ended here -->
  <!-- slider section started -->
  <section class="md:pb-28 pb-[230px] pt-4">
    <ServiceSlider
      heading="Hospital Services"
      description="Edhi Hospital Services provide quality medical care to underserved populations, ensuring accessibility and compassion in treatment."

      img1="/images/hospital/hospital-01.jpg"
      img2="/images/hospital/hospital-02.jpg"
      img3="/images/hospital/hospital-03.jpg"
      img4="/images/hospital/hospital-04.jpg"
      img5="/images/hospital/hospital-05.jpg"
      img6="/images/hospital/hospital-06.jpg"
    />
  </section>
  <!-- slider section ended -->
  <!-- last section started -->

  <style>
    @media screen and (max-width: 480px) {
 #vid{
   border-radius: 20px;
 
 }
       
 }
 </style>
   <section class="mx-auto  w-full max-w-6xl flex flex-wrap justify-items-start md:py-20 py-10 px-4 rounded-xl ">
       <!-- First Div with iframe -->
       <div class=" w-full md:w-3/5 bg-white  md:p-0 p-2 flex items-start justify-center md:h-96 h-48 rounded-xl">
 
           <iframe class="w-full md:h-[400px] h-[220px] rounded-2xl" src="https://www.youtube.com/embed/QpHtJYiTKOY?si=NgvJ_Vgk1gEqbLt7" frameborder="0" allowfullscreen></iframe>
       </div>
       
       <!-- Second Div with Heading and Paragraph -->
       <div id="vid"class= "md:rounded-r-xl	w-full md:w-2/5 bg-green-600  p-2  md:p-8 flex flex-col md:text-left text-center md:h-[320px] h-[320px] md:my-[40px] md:items-start	 items-center">
 
           <h2 class="text-white text-[32px] font-bold mb-[8px] mt-[13px] md:pt-5 pt-10" >Immunization Center
          </h2>
           <p class="text-lg pb-[22px] text-white">Our Immunization Center is committed to safeguarding communities by providing essential vaccinations for all ages.</p>
           <a
           href="https://donate.edhiuk.org/"
           class="font-bold block w-88 rounded-sm bg-white px-8 py-2 text-[18px] text-green-600 shadow hover:bg-[#ED4836] hover:text-white focus:outline-none focus:ring active:bg-green-600 sm:w-auto "
         >
           DONATE NOW
         </a>
       </div>
       
     
   </section>
  
  <!-- last section ended --> 

  <!-- faq section started -->
  <section class="text-center md:pt-10 px-6 text-black">
    <h2 class="text-[36px] font-bold mb-6 text-center">
      Frequently Asked Questions
    </h2>
    <h6 class="font-roboto text-[17px]">
      Explore our FAQs for clear insights on giving, eligibility, and the
      positive impact <br /> your contribution can make in transforming lives.
    </h6>
  </section>

    <!-- faq section started -->
    <main class="p-5 bg-light-blue">
      <div class="flex justify-center items-start my-2">
        <div class="w-full sm:w-10/12 md:w-1/2 my-1">
          <ul class="flex flex-col">
         
            <li class="bg-white my-2 shadow-lg rounded-lg" x-data="accordion(1)">
              <h5
                @click="handleClick()"
                class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer text-[16px] md:text-[20px]"
              >
                <span>What hospital services does Edhi Foundation provide?</span>
                <svg
                  :class="handleRotate()"
                  class="fill-current text-[#14A762] md:h-6 md:w-6 h-6 w-6 transform transition-transform duration-500"
                  viewBox="0 0 20 20"
                >
                  <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
                </svg>
              </h5>
              <div
                x-ref="tab"
                :style="handleToggle()"
                class="border-l-4 border-[#14A762] overflow-hidden max-h-0 duration-500 transition-all"
              >
                <p class="p-3 text-gray-900  md:text-[17px] text-[14px] ">
                  Edhi Foundation provides a range of hospital services, including medical consultations, surgeries, and specialized treatments.




                </p>
              </div>
            </li>
            <li class="bg-white my-2 shadow-lg rounded-lg" x-data="accordion(2)">
              <h5
                @click="handleClick()"
                class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer text-[16px] md:text-[20px]"
              >
                <span>How does Edhi Foundation ensure accessibility to its hospital services?</span>
                <svg
                  :class="handleRotate()"
                  class="fill-current text-[#14A762] md:h-6 md:w-6 h-6 w-6 transform transition-transform duration-500"
                  viewBox="0 0 20 20"
                >
                  <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
                </svg>
              </h5>
              <div
                x-ref="tab"
                :style="handleToggle()"
                class="border-l-4 border-[#14A762] overflow-hidden max-h-0 duration-500 transition-all"
              >
                <p class="p-3 text-gray-900  md:text-[17px] text-[14px] ">
                  Edhi Foundation operates hospitals and clinics across Pakistan, ensuring accessibility to its services for people in both urban and rural areas.




                </p>
              </div>
            </li>  








            <li class="bg-white my-2 shadow-lg rounded-lg" x-data="accordion(3)">
              <h5
                @click="handleClick()"
                class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer text-[16px] md:text-[20px]"
              >
                <span>Are the hospital services provided by Edhi Foundation free of charge?</span>
                <svg
                  :class="handleRotate()"
                  class="fill-current text-[#14A762]  md:h-6 md:w-6 h-6 w-6  transform transition-transform duration-500"
                  viewBox="0 0 20 20"
                >
                  <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
                </svg>
              </h5>
              <div
                x-ref="tab"
                :style="handleToggle()"
                class="border-l-4 border-[#14A762] overflow-hidden max-h-0 duration-500 transition-all"
              >
                <p class="p-3 text-gray-900  md:text-[17px] text-[14px] ">
                  Yes, Edhi Foundation provides hospital services free of charge, ensuring that medical care is accessible to all, regardless of their financial situation.




                </p>
              </div>
            </li> 
             <li class="bg-white my-2 shadow-lg rounded-lg" x-data="accordion(4)">
              <h5
                @click="handleClick()"
                class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer text-[16px] md:text-[20px]"
              >
                <span>What makes the hospital services of Edhi Foundation unique?</span>
                <svg
                  :class="handleRotate()"
                  class="fill-current text-[#14A762]  md:h-6 md:w-6 h-6 w-6  transform transition-transform duration-500"
                  viewBox="0 0 20 20"
                >
                  <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
                </svg>
              </h5>
              <div
                x-ref="tab"
                :style="handleToggle()"
                class="border-l-4 border-[#14A762] overflow-hidden max-h-0 duration-500 transition-all"
              >
                <p class="p-3 text-gray-900  md:text-[17px] text-[14px] ">
                  Edhi Foundation's hospital services are distinguished by their quality, affordability, and commitment to serving humanity without discrimination, reflecting the ethos of its founder, Abdul Sattar Edhi.




                </p>
              </div>
            </li>

         
           
          </ul>
        </div>
      </div>
    </main>




    <script is:inline>  
      document.addEventListener('alpine:init', () => {
        Alpine.store('accordion', {
          tab: 0
        });
        
        Alpine.data('accordion', (idx) => ({
          init() {
            this.idx = idx;
          },
          idx: -1,
          handleClick() {
            this.$store.accordion.tab = this.$store.accordion.tab === this.idx ? 0 : this.idx;
          },
          handleRotate() {
            return this.$store.accordion.tab === this.idx ? 'rotate-180' : '';
          },
          handleToggle() {
            return this.$store.accordion.tab === this.idx ? `max-height: ${this.$refs.tab.scrollHeight}px` : '';
          }
        }));
      })
    </script>

</Base>