<script is:inline src="https://cdn.tailwindcss.com"></script>
 <style>
     
    </style>
<div class="max-w-3xl mx-auto">
    <h1 class="text-4xl font-bold text-center mb-12 text-gray-900">
        Frequently Asked Questions
    </h1>

    
</div>

